In [1]:
print('Hello World!')

Hello World!

# Type Casting

In [3]:
float(2)

2.0

In [4]:
int(1.1)

1

In [5]:
int('1')

1

In [6]:
int('A')

ValueError: invalid literal for int() with base 10: 'A'

In [7]:
str(1)

'1'

In [8]:
str('4.5')

'4.5'

In [9]:
int(True)

1

In [10]:
int(False)

0

In [11]:
bool(1)

True

In [12]:
bool(0)

False

# Expressions and Variables

## Expressions
Expressions are operarions that python performs

In [13]:
#Mathematical Operations
43+60+16+41

160

The numbers 43,60,16,41 are called operands, and the '+' symbol is called operator

In [14]:
50-60

-10

In [15]:
5*5

25

In [16]:
25/5

5.0

In [17]:
25/6

4.166666666666667

In [18]:
25//6

4

The double division '//' performs a rounded division

In [19]:
2*60+30

150

In [20]:
30+2*60

150

Python follows mathematical conventions (BDMAS) when performing mathematical expressions.

In [21]:
(30+2)*60

1920

The expressions in the parentheses are performed first

## Variables
We use variables to store values

In [22]:
my_variable=1
my_variable

1

In [23]:
my_variable=10
my_variable

10

We can store the result of an expression in a veriable

In [27]:
x=43+60+16+41
x

160

In [28]:
y=x/60
y

2.6666666666666665

In [29]:
type(y)

float

Convert the number of minutes in the highlighted examples to number of hours.
00:42:11, 00:57:44, 00:43:08

In [32]:
total_min=42+57+43
total_hr=total_min/60

total_hr

2.3666666666666667