# Strings
In Python, a string is a sequence of characters. A string is contained within two quotes:
You could also use single quotes. A string can be spaces, or digits.
A string can also be special characters. We can bind or assign a string to another

In [2]:
name='Michael Jackson'
name

'Michael Jackson'

It is helpful to think of a string as an ordered
sequence. Each element in the sequence can be accessed
using an index represented by the array of numbers.

In [3]:
name[0]

'M'

In [4]:
name[6]

'l'

In [6]:
name[14]

'n'

We can also use negative indexing with strings.
The last element is given by the index -1. The first element can be obtained by index
-15, and so on.

In [7]:
name[-1]

'n'

In [8]:
name[-15]

'M'

## Strings: Slicing

We can bind a string to another variable. It is helpful to think of string as a list or tuple.
We can treat the string as a sequence and perform sequence operations.

In [12]:
name[0:7]

'Michael'

In [13]:
name[8:12]

'Jack'

## Strings: Stride

In [14]:
name[::2]

'McalJcsn'

The 2 indicates we select every second variable.

We can also incorporate slicing.

In [15]:
name[0:5:2]

'Mca'

In this case. we return every second value
up to index four.

 We can use the “len” command to obtain

In [18]:
len('Michael Jackson')

15

In [19]:
len(name)

15

## Concatenate or Combine Strings

In [20]:
name='Michael Jackson'
statement=name+' is the best'

statement

'Michael Jackson is the best'

We can replicate values of a string. We simply multiply the string by the number

In [24]:
3*'Michael Jackson'

'Michael JacksonMichael JacksonMichael Jackson'

In [25]:
3*name

'Michael JacksonMichael JacksonMichael Jackson'

## Strings: Escape Sequences

In [26]:
print('Michael Jackson \n is the best')

Michael Jackson
 is the best

In [27]:
print('Michael Jackson \t is the best')

Michael Jackson 	 is the best

In [28]:
print('Michael Jackson \\ is the best')

Michael Jackson \ is the best

In [29]:
print(r'Michael Jackson \ is the best')

Michael Jackson \ is the best

## String Methods

Strings are sequences and, as such, have apply
methods that work on lists and tuples. Strings also have a second set of methods
that just work on strings. When we apply a method to the string "A”,
we get a new string “B" that is different from "A".
Let’s do some examples.

We apply the method "upper" and set it equal to "B“.
The value for B is similar to "A" but all the characters are uppercase.
The method replaces a segment of the string, i.e., a substring with a new string.

In [31]:
A='Thriller is the sixth studio album'
B=A.upper()

B

'THRILLER IS THE SIXTH STUDIO ALBUM'

The method replaces a segment of the string, i.e., a substring with a new string.
We input the part of the string we would like to change.
The second argument is what we would like to exchange the segment with.

In [32]:
A='Michael Jackson is the best'
B=A.replace('Michael', 'Janet')

B

'Janet Jackson is the best'

The method find, finds sub-strings. The argument is the sub-string you would like
to find. The output is the first index of the sequence. If the sub-string is not in the string, the
output is negative one.

In [33]:
name='Michael Jackson'
name.find('el')

5

In [35]:
name.find('Jackson')

8

In [36]:
name.find('Janet')

-1