# Lists and Tuples

# Tuples
Tuples Tuples are an ordered sequence.
Tuples are expressed as comma-separated elements within parentheses.

In [1]:
ratings=(10,9,6,5,10,8,9,6,2)
ratings

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In Python, there are different types: strings, integer, float.
They can all be contained in a tuple, but the type of the variable is tuple.

In [3]:
Tuple1=('disco',10,1.2)
Tuple1

('disco', 10, 1.2)

In [4]:
type(Tuple1)

tuple

Each element of a tuple can be accessed via an index.

In [5]:
Tuple1[0]

'disco'

In [6]:
Tuple1[2]

1.2

In [8]:
Tuple1[-1]

1.2

In [9]:
Tuple1[-3]

'disco'

We can concatenate or combine tuples by adding them.

In [11]:
Tuple2=Tuple1+('hard rock', 10)
Tuple2

('disco', 10, 1.2, 'hard rock', 10)

If we would like multiple elements from a tuple, we could also slice tuples.
For example, if we want the first three elements.The last index is 1 larger than the index you want

In [12]:
Tuple2[0:3]

('disco', 10, 1.2)

In [13]:
Tuple2[3:5]

('hard rock', 10)

We can use the “len” command to obtain the length of a tuple.

In [14]:
len(('disco', 10, 1.2, 'hard rock', 10))

5

In [15]:
len(Tuple1)

3

In [16]:
len(Tuple2)

5

Tuples are immutable, which means we can't change them.

In [17]:
ratings1=ratings
ratings[2]=4

TypeError: 'tuple' object does not support item assignment

We can assign a different tuple to the Ratings variable.

In [18]:
ratings=(2,10,1)
ratings

(2, 10, 1)

In [19]:
ratings1

(10, 9, 6, 5, 10, 8, 9, 6, 2)

As a consequence of immutability, if we would like to manipulate a tuple, we must create
a new tuple instead.
For example, if we would like to sort a tuple, we use the function sorted.
The input is the original tuple.
The output is a new sorted tuple.

In [21]:
ratings1Sorted=sorted(ratings1)
ratings1Sorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

A tuple can contain other tuples as well as other complex data types; this is called nesting.

In [22]:
NT=(1,2,('pop','rock'),(3,4),('disco',(1,2)))
NT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [24]:
len(NT)

5

In [23]:
NT[2]

('pop', 'rock')

In [25]:
NT[4]

('disco', (1, 2))

We can visualize this nesting as a tree.
If we consider indexes with other tuples, we see the tuple at index 2 contains a tuple
with two elements.
We can access those two indexes.
The same convention applies to index 3.
We can access the elements in those tuples as well.
We can continue the process.

In [26]:
NT[2][1]

'rock'

We can even access deeper levels of the tree by adding another square bracket.
We can access different characters in the string or various elements

In [27]:
NT[2][1][0]

'r'

In [28]:
NT[4][1][0]

1

## Lists

Lists are also an ordered sequence.
Here is a list L. A list is represented with square brackets.

In [30]:
L=['Michael Jackson', 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

Lists can contain strings, floats, integers.
We can nest other lists.
We also nest tuples and other data structures; the same indexing conventions apply for nesting.

In [32]:
List1=['Michael Jackson', 10.1, 1982, [1,2],('A',1)]
List1

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

Like tuples, each element of a list can be accessed via an index.

In [33]:
len(List1)

5

In [34]:
List1[4]

('A', 1)

In [35]:
List1[2]

1982

In [36]:
List1[-1]

('A', 1)

We can also perform slicing in lists.
For example, if we want the last two elements in this list we use the following command.

In [37]:
List1[3:5]

[[1, 2], ('A', 1)]

We can concatenate or combine lists by adding them.

In [38]:
L1=L+['pop',10]
L1

['Michael Jackson', 10.1, 1982, 'pop', 10]

In many respects lists are like tuples, one key difference is they are mutable. For example, we apply the method extends by adding a "dot" followed by the name of the
method, then parenthesis.
The argument inside the parenthesis is a new list that we are going to concatenate to the
original list.
In the following case, instead of creating a new list, L1, the original list L is modified by adding
two new elements.

In [39]:
L.extend(['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'pop', 10]

Another similar method is append.
If we apply append instead of extended we add one element to the list.

In [46]:
L=['Michael Jackson', 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [47]:
len(L)

3

In [48]:
L.append(['pop', 10])
L

['Michael Jackson', 10.1, 1982, ['pop', 10]]

In [49]:
len(L)

4

Every time we apply a method, the lists changes.

In [50]:
L.append(['pop', 10])
L

['Michael Jackson', 10.1, 1982, ['pop', 10], ['pop', 10]]

In [51]:
L.append(['pop', 10])
L

['Michael Jackson', 10.1, 1982, ['pop', 10], ['pop', 10], ['pop', 10]]

In [52]:
L.extend(['pop', 10])
L

['Michael Jackson',
 10.1,
 1982,
 ['pop', 10],
 ['pop', 10],
 ['pop', 10],
 'pop',
 10]

As lists are mutable, we can change them.
For example, we can change the first element as follows.

In [53]:
A=['disco',10,1.2]
A

['disco', 10, 1.2]

In [54]:
A[0]='hard rock'
A

['hard rock', 10, 1.2]

We can delete an element of a list using the "del" command; we simply indicate the list
item we would like to remove as an argument.

In [55]:
del(A[0])
A

[10, 1.2]

We can convert a string to a list using split.
For example, the method split converts every group of characters separated by a space into
an element of a list.

In [56]:
'hard rock'.split()

['hard', 'rock']

We can use the split function to separate strings on a specific character, known as
a delimiter.

In [57]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [58]:
'This is one string. This is another string'.split('.')

['This is one string', ' This is another string']

When we set one variable, B equal to A, both A and B are referencing the same list.
Multiple names referring to the same object is known as aliasing.

In [63]:
A=['hard rock',10,1.2]
B=A
B

['hard rock', 10, 1.2]

In [64]:
A

['hard rock', 10, 1.2]

We know that the first element in B is set as hard rock.
If we change the first element in “A” to “banana” we get a side effect; the
value of B will change as a consequence.
"A" and “B” are referencing the same list, therefore if we change "A“, list "B" also
changes.

In [65]:
A[0]='banana'
B

['banana', 10, 1.2]

You can clone list “A” by using the following syntax.

In [66]:
C=A[:]
C

['banana', 10, 1.2]

Variable "A" references one list.
Variable “C” references a new copy or clone of the original list.
Now if you change “A”, "C" will not change.

In [67]:
A[0]='hard rock'
A

['hard rock', 10, 1.2]

In [68]:
C

['banana', 10, 1.2]

We can get more info on lists, tuples and many other objects in Python using the help
command.
Simply pass in the list, tuple or any other Python object.

In [69]:
help(A)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None