# Sets
Sets are also a type of collection. This means that like lists and tuples, you
can input different python types. Unlike lists and tuples they are unordered.
This means sets do not record element position. Sets only have unique elements.
This means there is only one of a particular element in a set.

In [1]:
set1={'pop', 'rock', 'soul', 'hard rock', 'R&B', 'rock', 'disco'}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

You can convert a list to a set by using the function set; this is called type-casting.
You simply use the list as the input to the function set.
The result will be a list converted to a set. Let's go over an example

In [3]:
album_list=['Michael Jackson', 'Thriller', 'Thriller', '1982']
album_set=set(album_list)

album_set

{'1982', 'Michael Jackson', 'Thriller'}

## Set Operations
We can add an item to a set using the add method.
We just put the set name followed by a dot, then the add method.
The argument is the new element of the set we would like to add, in this case, "NSYNC".

In [4]:
A={'thriller', 'black in black', 'ac/dc'}
A.add('nsync')

A

{'ac/dc', 'black in black', 'nsync', 'thriller'}

If we add the same item twice, nothing will
happen as there can be no duplicates in a set.

In [5]:
A.add('nsync')
A

{'ac/dc', 'black in black', 'nsync', 'thriller'}

We can also remove an item from a set using the remove method.
We just put the set name followed by a dot then the remove method.
The argument is the element of the set we would like to remove, in this case, "NSYNC".

In [6]:
A = {'ac/dc', 'black in black', 'nsync', 'thriller'}
A.remove('nsync')

A

{'ac/dc', 'black in black', 'thriller'}

We can verify if an element is in the set
using the "in" command as follows. The command checks if the item, in this case,
"AC/DC" is in the set. If the item is in the set, it returns true.

In [7]:
A={'thriller', 'black in black', 'ac/dc'}
'ac/dc' in A

True

In [8]:
'who' in A

False

There are lots of useful mathematical operations we can do between sets. The Intersection of two sets is a new set containing elements which are in both of those
sets.  In Python, we use the ampersand to find the
intersection of two sets.

In [9]:
album_set1={'thriller', 'black in black', 'ac/dc'}
album_set2={'thriller', 'black in black', 'the dark side of the moon'}

album_set1&album_set2

{'black in black', 'thriller'}

The union of two sets is the new set of elements
which contain all the items in both sets. We can find the union of the sets album set
1 and album_set_2 as follows.

In [10]:
album_set1.union(album_set2)

{'ac/dc', 'black in black', 'the dark side of the moon', 'thriller'}

We can check if a set is a subset using the is subset method.
As album_set_3 is a subset of the album_set_1, the result is true.

In [11]:
album_set3={'ac/dc', 'black in black'}

album_set3.issubset(album_set1)

True