# Functions
Functions take some input then produce some output or change.
The function is just a piece of code you can reuse.

## Python Built-in functions
Python has many built-in functions; you don't have to know how those functions work internally,
but simply what task those functions perform.

The function len takes in an input of type
sequence, such as a string or list, or type collection, such as a dictionary or set, and
returns the length of that sequence or collection.

The len function takes this list as an argument, and we assign the result to the variable L.

In [7]:
album_ratings=[4,10,8.5,6,8,9.5,9]

L=len(album_ratings)
L

7

 The function 'sum' takes in an iterable like
a tuple or list and returns the total of all the elements.
Consider the following list. We pass the list into the sum function and
assign the result to the variable S. The function determines the total of all the
elements, then returns it,

In [9]:
S=sum(album_ratings)
S

55.0

### Sorted vs Sort
There are two ways to sort a list. The first is using the function sorted.
We can also use the list method sort. Methods are similar to functions.

The function sorted Returns a new sorted list or tuple.They produce a new output, in this instance, a sorted list.

In [10]:
sorted_album_ratings=sorted(album_ratings)
sorted_album_ratings

[4, 6, 8, 8.5, 9, 9.5, 10]

When we apply the method sort to the list,
the list album rating changes. Unlike the previous case, we see that the
list album rating has changed. In this case, no new list is created.

In [13]:
album_ratings.sort()
album_ratings

[4, 6, 8, 8.5, 9, 9.5, 10]

## Making Functions

You can implement your own function, but in many cases, you use other people’s functions.
In this case, you just have to know how the function works and in some cases how to import
the functions.

To define a function, we start with the keyword
def. The name of the function should be descriptive
of what it does. We have the function formal parameter "A"
in parentheses. Followed by a colon.
We have a code block with an indent

For this case, we add 1 to "A" and assign it to B.
We return or output the value for b. After we define the function, we can call
it. The function will add 1 to 5 and return b

In [21]:
def add1(a):
    'add 1 to input'
    b=a+1
    return b

In [22]:
f1(5)

6

Lets define another function which adds 2 to 'a' upon calling

In [23]:
def add2(a):
    'add 2 to input'
    b=a+2
    return b

In [24]:
f2(5)

7

We can call the function again; this time
assign it to the variable "c" The value for 'c' is 11.

In [25]:
c=add1(10)
c

11

It's customary to document the function on the first few lines; this tells anyone who
uses the function what it does. This documentation is surrounded in triple
quotes. You can use the help command on the function
to display the documentation as follows.

In [26]:
def add1(a):
    """
    add 1 to a
    """
    b=a+1
    return b

In [27]:
help(add1)

Help on function add1 in module __main__:

add1(a)
    add 1 to a

### Multiple Parameters
A function can have multiple parameters.

The function mult multiplies two numbers; in other words, it finds their product.
If we pass the integers 2 and 3, the result is a new integer.

In [28]:
def Mult(a,b):
    c=a*b
    return c

Mult(2,3)

6

In [29]:
Mult(10,3.14)

31.400000000000002

If we pass in the integer two and the string “Michael Jackson,” the string Michael
Jackson is repeated two times. This is because the multiplication symbol
can also mean repeat a sequence.

In [30]:
Mult(2,'Michael Jackson')

'Michael JacksonMichael Jackson'

### No Parameters

 In many cases a function does not have a return
statement. In these cases, Python will return the special
“None” object.

Practically speaking, if your function has
no return statement, you can treat it as if the function returns nothing at all.
The function MJ simply prints the name 'Michael Jackson’.

In [31]:
def MJ():
    print('Michael Jackson')

MJ()

Michael Jackson

### Pass

Let's define the function “No work” that performs no task. Python doesn’t allow a function to have an empty body, so we can use the keyword pass,
which doesn’t do anything, but satisfies the requirement of a non-empty body.

In [32]:
def NoWork():
    pass

If we call the function and print it out, the function returns a None. In the background, if the return statement is not called, Python will automatically return
a None.

In [33]:
print(NoWork())

None

In [34]:
def NoWork():
    pass
    return None

In [36]:
print(NoWork())

None

### Loops in Functions
We can use loops in functions.

 This function prints out the values and indexes
of a loop or tuple.

In [37]:
def printStuff(Stuff):
    for i,s in enumerate(Stuff):
        print('Album ', i, 'rating is ', s)

In [38]:
album_ratings=[4,10,8.5,6,8,9.5,9]
printStuff(album_ratings)

Album  0 rating is  4
Album  1 rating is  10
Album  2 rating is  8.5
Album  3 rating is  6
Album  4 rating is  8
Album  5 rating is  9.5
Album  6 rating is  9

### Collecting Arguments

Variadic parameters allow us to input a variable number of elements.
Consider the following function; the function has an asterisk on the parameter names.

In [40]:
def ArtistNames(*names):
    for name in names:
        print(names)

When we call the function, three parameters are packed into the tuple names.
We then iterate through the loop; the values are printed out accordingly

In [41]:
names=['Michael Jackson', 'AC/DC','Pink Floyd']
ArtistNames(names)

(['Michael Jackson', 'AC/DC', 'Pink Floyd'],)

If we call the same function with only two parameters as inputs, the variable names only
contain two elements. The result is only two values are printed

In [42]:
names=['Michael Jackson', 'AC/DC']
ArtistNames(names)

(['Michael Jackson', 'AC/DC'],)

### Scope
The scope of a variable is the part of the
program where that variable is accessible.

#### Scope: Global Variables
Variables that are defined outside of any
function are said to be within the global scope, meaning they can be accessed anywhere
after they are defined. A variable defined in the global scope is
called a global variable.

#### Scope: Local Variables
Local variables only exist within the scope
of a function.

Consider the function thriller; the local
variable Date is set to 1982. When we call the function, we create a new
scope. Within that scope of the function, the value
of the date is set to 1982.

In [49]:
def Thriller():
    Date=1982
    return Date

In [51]:
Thriller()

1982

The value of date does not exist within the
global scope.

In [52]:
Date

NameError: name 'Date' is not defined

#### Scope: Variables
Variables inside the global scope can have
the same name as variables in the local scope with no conflict. Consider the function thriller; the local variable Date is set to 1982.
The global variable date is set to 2017

In [56]:
def Thriller():
    Date=1982
    return Date

Date=2017

In [57]:
Thriller()

1982

In [58]:
Date

2017

If a variable is not defined within a function, Python will check the global scope.

Consider the function "AC-DC“. The function has the variable rating, with no value assigned.
If we define the variable rating in the global scope, then call the function, Python will
see there is no value for the variable Rating. As a result, python will leave the scope and
check if the variable Ratings exists in the global scope. It will use this value of Ratings
in the global scope within the scope of "AC-DC“.

In [59]:
def ACDC(y):
    print(Ratings)
    return (Ratings+y)

Ratings=9

In [60]:
Z=ACDC(1)
Z

9

10

In [61]:
print(Ratings)

9